<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.alexjlockwood.example.delight">

  <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/AppTheme">
    <activity
      android:name="com.alexjlockwood.example.delight.MainActivity"
      android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
      android:name="com.alexjlockwood.example.delight.PlayPauseStopActivity"
      android:label="@string/app_name"
      android:theme="@style/AppThemeNoActionBar"/>
    <activity
      android:name="com.alexjlockwood.example.delight.DigitsActivity"
      android:label="@string/app_name"
      android:theme="@style/AppThemeNoActionBar"/>
    <activity
      android:name="com.alexjlockwood.example.delight.SearchActivity"
      android:label="@string/app_name"
      android:theme="@style/AppThemeNoActionBar"/>
    <activity
      android:name="com.alexjlockwood.example.delight.ClipPathActivity"
      android:label="@string/app_name"
      android:theme="@style/AppThemeNoActionBar"/>
    <activity
      android:name="com.alexjlockwood.example.delight.HeartActivity"
      android:label="@string/app_name"
      android:theme="@style/AppThemeNoActionBar"/>
    <activity
      android:name="com.alexjlockwood.example.delight.FingerprintActivity"
      android:label="@string/app_name"
      android:theme="@style/AppThemeNoActionBar"/>
    <activity
      android:name="com.alexjlockwood.example.delight.UploadingActivity"
      android:label="@string/app_name"
      android:theme="@style/AppThemeNoActionBar"/>
    <activity
      android:name="com.alexjlockwood.example.delight.ClockActivity"
      android:label="@string/app_name"
      android:theme="@style/AppThemeNoActionBar"/>
    <activity
      android:name="com.alexjlockwood.example.delight.DrawerActivity"
      android:label="@string/app_name"
      android:theme="@style/AppThemeNoActionBar"/>
    <activity
      android:name="com.alexjlockwood.example.delight.ExpandCollapseActivity"
      android:label="@string/app_name"
      android:theme="@style/AppThemeNoActionBar"/>
  </application>

</manifest>
